<%- include('../layouts/header') %>

<% if (auth) { %>
    <h1 class="text-center text-2xl font-extrabold">Bienvenido</h1>
<% } else { %>
    <p>Iniciar sesión</p>
<% } %>

<%- include('../layouts/footer') %>
